.container .form-area .title-area {
    text-align: center;
}
.container .form-area {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.container .form-area .busca-area {
    position: absolute;
    right: 50px;
}
.container .form-area .table-area {
    margin-top: 60px;
}
.container .form-area .table-area thead i {
    margin-left: 20px;
}
.container .form-area .table-area tbody a {
    color: #fff;
}
.container .form-area .table-area tbody tr th a{
    margin-left: 10px;
}